<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<meta> </meta>
<title>Juego</title>
</head>

<body>
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <script type="text/javascript" th:src="@{/js/libs/jQuery.js}"></script>


    <h1>Menu Principal</h1>

    <div id="jugarPartido "><button type="botonMenuPrincipal" id="botonJugarPartido">JugarPartido</button></div>
    <div id="jugarLiga"><button type="botonMenuPrincipal" id="botonJugarCopa">Copa</button></div>
    <div id="jugarCopa"><button type="reset" id="botonJugarLiga">Liga</button></div>


</body>


<!-- <div class="modal" id="modal-div-borrado">
    <div class="modal-content">
        <div id="volverMenuDiv ">
            <button type="button" id="volverMenu">Cancelar</button>
        </div>

        <div id="proseguirDiv ">
            <button type="button" id="proseguir">Proseguir igual!</button>
        </div>


    </div>
</div> -->





</html>